@media screen and (max-width: 535px) {

    #arrows{
        display: none;
        height: 0em;
        width: 0em;
    }
    h4 {
        font-size: 12px;
        margin-top: 2vh;
    }
    .firstPercent{
        margin-top: 0vh;
    }
    }
html {
    scroll-behavior: smooth;
}