body {
    position: relative;
}
ul.nav-pills {
    top: 20px;
    position: sticky;
}
#verticalScrollspy{
    top: 60px;

}
@media screen and (max-width: 535px) {

    h2 {
        font-size: 15px;
        
    }
    h1{
        font-size: 30px;
    }
    li{
        font-size: 10px;
        width: 90%;
        margin-bottom: 5px;
    }
    .nav-link{
        padding-right: 70px;
    }
    #timelineRow{
        margin-left: 12vw!important;
    }
    #info1, #info2, #info3, #info4, #info5, #info6{
        text-align: center;
        padding-left: 8vw!important;
        padding-right: 8vw!important;
    }
    img{
        height: 0%;
    }
}