body {
    position: relative;
}
ul.nav-pills {
    top: 20px;
    position: sticky;
}
#verticalScrollspy{
    top: 60px;

}
@media screen and (max-width: 535px) {
    h2 {
        font-size: 15px;
        
    }
    h1{
        font-size: 30px;
    }
    li{
        font-size: 10px;
        width: 90%;
        margin-bottom: 5px;
    }
    .nav-link{
        padding-right: 70px;
    }
    #info1, #info2, #info3, #info4, #info5, #info6{
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 15vh;
        
    }
    img{
        height: 0%;
    }
}